<!doctype html>
<html>

<head>
    <title>Home</title>
</head>

<body>
    <div id="content" class="box">
        <div>
            <h1>Water bot</h1>
            <form action="{{ url_for('home') }}" method="post">
                <div class="input-box">
                    <label for="name" id="name_label">Enter Username: </label>
                    <input type="text" name="username" id="username" placeholder="Username" class="text-input"
                        required />
                </div>
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
</body>

</html>